@import 'styles/variables.scss';

.Record {
  height: 300px;
  width: 300px;
}

.Record button {
}

.Record img {
  height: 100%;
  border-radius: 50%;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 25px black;
  object-fit: cover;
  object-position: center center;
  background-color: red;
  animation: rotation 8s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.Record img:hover {
  animation-play-state: running;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
